<h1> About Us </h1>

<p>This project will  be based on the Online Renting Services through which a lot of people basically for students will have a very centralized way and an easy way of finding houses for various purposes. More deatils: http://www.agileventures.org/projects/quickrent</p>
<br /><br />
<%= link_to("Back to Welcome page",
    {:action => 'welcome'}) %>