%h1 Login

%form
  Name:
  %br
    %input{:name => "Name", :type => "text"}
      %br
        Password:
        %br
          %input{:password => "Password", :type => "password"}
%button{:name => "login", :type => "submit", :value => "login"} Login
%p~ "\n"

= link_to 'Back to House Listings', houses_path

